@inherits LayoutComponentBase

<div class="fill map">
    <div class="h-25">
        <NavMenu />
    </div>
    <article class="fill map"> @Body</article>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
    