.queries-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 10px; /* Space between the squares */
    width: 98%; /* 80% of the page width */
    margin: 0 auto; /* Center the container horizontally */
    height: 100%; /* Full container height */
}



.queries-grid-1,
.queries-grid-2,
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #ccc;*/ /* Optional for visual separation */
}

