@using JKPlaystore.Data
@using JKPlaystore.Models
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext


@page "/"

<section>
	<h2 class="p-h1">Welcome to the JKPlaystore Backoffice </h2>
	<div class="m-5">
		<AuthorizeView>
			<Authorized>
				You are currently logged in. <a class="fw-bolder" href="/Account/Logout"> You may log out by clicking here. </a>
			</Authorized>
			<NotAuthorized>
				You are currently <strong> not </strong> logged in. <a class="fw-bolder" href="/Account/Login"> login by clicking here. </a>
			</NotAuthorized>
		</AuthorizeView>
	</div>

</section>
@code {
}
