@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=B612+Mono&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --user-black: #606060 !important;
    --true-black: #404040 !important;
    --user-grey: #F3F3F3 !important;
    --middle-grey: #D7D7D7 !important;
    --user-valid: #47E36C !important;
    --accent-blue: #26D0F6 !important;
    --selected-blue: #19ABCC !important;
    --h1-font-size: 64px !important;
}

html, body {
    font-family: "Familjen Grotesk" !important;
}


h1 {
    font-family: "Familjen Grotesk" !important;
    color: var(--true-black) !important;
    font-weight: 800 !important;
    font-size: var(--h1-font-size) !important;
}

.p-h1 {
    padding: 30px;
    padding-top: 20px;
}

.dynamic-query-fill {
    border-style: solid;
    border-color: var(--middle-grey);
    border-width: 1px;
    border-radius: 5px;
    border-radius: 10px;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column
}

.flex-center {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.ui-font {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.image-box {
    width: 40vw;
    height: 60vh;
    border-radius: 20px;
    background-color: var(--middle-grey);
}

.form-control {
    font-family: 'B612 Mono' !important;
    color: var(--user-black);
    font-size: 13px !important;
}
